*{
    background-color: black;
    
}
body {
    justify-content: center;
    display: flex;
    margin: 400px 150px;
}
div {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: relative;
}

div::before {
    
    background: #aa050d;
    height: 250px;
    width: 60px;
    position: absolute;
    content: '';
    left: 90px;
    
}


span {
    
    position: absolute;
    height: 250px;
    width: 60px;
    background: #ff000d;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px 4px #212020;

}